@model BlogCore.Models.ViewModels.HomeVM

<div class="row bg-title-home mt-1">
    <div class="col-sm-12">
        <h1 class="text-center text-white bg-secondary py-1">Listado de Artículos</h1>
    </div>
</div>
@if(Model.ListArticles.Count() > 0)
{
    <hr />
    <div class="row">
        @foreach (var article in Model.ListArticles.OrderBy(x=>x.Id))
        {
            <div class="col-3">
                <div class="card">
                    <img src="@article.UrlImage" alt="image" width="100%" class="img-thumbnail img-fluid" style="max-height:200px;" />
                    <div class="card-body">
                        <h5 class="text-center">@article.Name</h5>
                        <a asp-action="Details" class="btn btn-success" style="border-radius:2px;" asp-route-id="@article.Id">
                            More Info...
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>

}
else
{
    <p>No hay artículos</p>
}
